<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <main class="flex flex-col min-h-screen">
    
      <nav class="nav-bar">
        <ul class="nav-links">
          <li><a href="/">home</a></li>
          <li><a href="/create">create</a></li>
          <li><a href="/flashcollection">collection</a></li>
          <li><a href="/login">logout</a></li>
        </ul>
      </nav>

      <div class="spread">
        {{{body}}}
      </div>
    </main>
    <footer class="hidden">
       2023 FlashCard App
    </footer>
  </body>
</html>
