<div class="createflash">
    <h1>
        Create New Flashcards
    </h1>

    <div class="flash-name-input">
        <h2>Enter Name Of Flashcard</h2>
        <input type="text" >
    </div>


</div>