<div class="createflash">
    <h1>Create New Flashcards</h1>

    <div class="flash-name-input">
        <h2>Enter Name Of Flashcard</h2>
        <input type="text" class="nameOfFlash" placeholder="type here..">
    </div>


    <div class="flashcards-input flex flex-row justify-center">


        <div class="question-input flex flex-col justify-center">
            <h2>Question</h2>
            <img src="images/QuestionCard.png" alt="">
            <input type="text" placeholder="type here..." class="questionInput">
        </div>



        <div class="answer-input flex flex-col">
            <h2>Answer</h2>
            <img src="images/AnswerCard.png" alt="">
            <input type="text" placeholder="type here..." class="answerInput">
        </div>



        <div class="deleteButton flex flex-col">
            <h3>Delete</h3>
            <img src="images/Deleteicon.png" alt="">
        </div>


    </div>


</div>    