

<div class="homepage">

    <div class="welcome">
        <h1>Welcome!</h1>
        <h2>Learn, Sync, Master</h2>
    </div>

    <div class="flash-buttons flex justify-center items-center">
        <button class="flash-collection">Your Flashcards</button>
        <button class="flash-create">Create Flashcards</button>
    </div>

    <img class="bulb" src="images/bulb.png" alt="light bulb">




</div>