
    <div class="split-screen">

        <div id="quizwave" class="flex flex-col justify-start items-center text-center">
            <section class="copy">
                <h1>QuizWave</h1> 
                <p>Create Flashcards,</p>
                <p>Turn It Into A Quiz,</p>
                <p>Master Your Skills !</p>
            </section>    
            <section>
                <img src="images/CardDeck.png" alt="card deck">
            </section>
        </div>

        <div id="login" class="min-h-screen flex justify-center flex-col items-center">
            <form>
                <section class="copy">
                    <h2>Account Login</h2>
                    <h3>Email</h3>
                    <input type="text" class="email-input-2">
                    <h3>Password</h3>
                    <input type="text" class="password-input-2">
                    <br>
                    <button class="login-button">Login</button>
                    <div class="signup-container">
                        <p>Don't have an account?<a href="#" id="signUpLink"> Sign up</a></p>
                    </div>
                    
                </section>
            </form>
        </div>

    </div>