

    <div class="split-screen">

        <div id="quizwave" class="min-h-screen flex flex-col justify-start items-center text-center">
            <section class="copy">
                <h1>QuizWave</h1> 
                <p>Create Flashcards,</p>
                <p>Turn It Into A Quiz,</p>
                <p>Master Your Skills !</p>
            </section>    
            <section>
                <img src="images/CardDeck.png" alt="card deck">
            </section>
        </div>

        <div id="signup" class="min-h-screen flex justify-center flex-col items-center">
            <form>
                <section class="copy">
                    <h2>Sign Up</h2>
                    <h3>Full Name</h3>
                    <input type="text" class="user-name" id="register-username">
                    <h3>Email</h3>
                    <input type="text" class="email-input" id="register-email">
                    <h3>Password</h3>
                    <input type="text" class="password-input" id="register-password">
                    <br>
                    <button class="signup-button" id="register-btn">Register</button>
                    <div class="login-container">
                        <p>Have an account?<a href="/login" id="loginLink"> Login</a></p>
                    </div>
                </section>
            </form>
        </div>

    </div>

   <script src="/js/register.js"></script>

