:root {
    --aqua: #00ffff;
    --tomato: #FC4549;
    --sun: #FFBE00;
    font-family: 'Open Sans', sans-serif;
}

main {
    /* border: solid 3px red; */
}

.homepage {
    background-color: black;
    color: white;
}

.nav-bar {
    background-color: black;
    color: white;
 
}

.nav-links {
    list-style: none;
    display: flex; 
    justify-content: end; 
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
}

.nav-links li {
    padding: 15px;
}

/* Welcome Home Page Section */
.welcome {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: baseline;

}

.welcome h1 {
    font-size: 150px;
}

.welcome h2 {
    font-size: 40px;
    margin-left: 50px;
}

.flash-buttons {
    height: 150px;
    gap: 200px;
    font-weight: bold;
}

.flash-buttons button {
    background-color: white;
    color: black;
    padding: 1.2rem 6rem;
    border-radius: 10px;
    z-index: 10;
}

.spread {
    flex-grow: 1;
    background-color: black;
}

.bulb {
    margin: auto;
    width: 800px;
    max-width: 100%;
    height: auto;
    margin-top: -50px;

}


/* Create Flashcards CSS Section */
.createflash {
    font-family: 'Permanent Marker', cursive;
    color: white;
    
}

.createflash h1 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.flash-name-input {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2rem;
    gap: 30px;
}

.flash-name-input input {
    caret-color: #FFBE00;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0 10px;
    outline: none;
    color: black;
    text-align: center;
}

.flashcards-input {
    color: black;
}

.flashcards-input h2 {
    color: white;
    margin: auto;
    font-size: 30px;
}


.question-input img{
    width: 700px;
    max-width: 100%;
    height: auto;
    margin-top: -10px;
}

.question-input input {
    background-color: transparent;
    border: none;
    border: 1px solid red; 
    outline: none; 
    color: #333;
    text-align: center;
    width: 280px;
    position: absolute;
    margin-left: 200px;
    height: auto;
    z-index: 2;
    
}


.answer-input img {
    margin: auto;
    width: 720px;
    max-width: 100%;
    height: auto;
    margin-top: -10px;
}

.answer-input input {
    background-color: transparent;
    border: none;
    border: 1px solid red; 
    outline: none; 
    color: #333;
    text-align: center;
    width: 80px;
    position:absolute;
    margin-left: 300px;
    margin-bottom: 100px;
    /* height: auto; */
    z-index: 2;
    
}

.deleteButton h3 {
    color: white;
    margin-top: 50px;
    margin-left: 13px;
}

.deleteButton img{
    margin: auto;
    width: 80px;
    max-width: 100%;
    height: auto;
    margin-top: -10px;
    margin-right: 50px;
}




/* HomePage Media Screen */
@media screen and (max-width: 1150px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome h1 {
        font-size: 100px;
    }

    .welcome h2 {
        font-size: 25px;
    }
    
    .flash-buttons {
        gap: 100px;
    }
}


@media screen and (max-width: 850px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome h1 {
        font-size: 100px;
    }

    .welcome h2 {
        font-size: 25px;
    }

    .flash-buttons {
        gap: 80px;
    }
    .flash-buttons button {
        padding: 1rem 4rem;
    }
}


@media screen and (max-width: 598px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome h1 {
        font-size: 70px;
    }

    .welcome h2 {
        font-size: 18px;
    }

    .flash-buttons {
        gap: 60px;
    }
    .flash-buttons button {
        padding: 0.75rem 0.75rem;

    }
    .nav-links {
        font-size: 20px;
    }
    .bulb {
        margin-top: -5px;
    }

}


@media screen and (max-width: 390px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome h1 {
        font-size: 70px;
    }

    .welcome h2 {
        font-size: 18px;
    }

    .flash-buttons {
        gap: 30px;
    }
    .flash-buttons button {
        padding: 0.75rem 0.75rem;
    }
    .nav-links {
        font-size: 18px;
    }
}
